@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

*,
*::before,
*::after {
  margin: 0;
  font-family: "Quicksand";
  
  padding: 0;
  box-sizing: inherit;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #aec905;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #aec905;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview /lists / */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color:#aec905;
  margin-bottom: 8px;
}

/* Start of Added for my own self
#################################
###############################*/
img {
  max-width: 100%;
}

.box {
  max-width: 1824px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .box {
    padding: 0 48px;
  }
}

.ac-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 80px;
  margin-bottom: 80px;
}

.ac {
  text-align: center;
  padding-bottom: 16px;
  transition: all 500ms ease-in-out;
}

.ac:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.ac .img-cover {
  overflow: hidden;
}

.ac img {
  transition: all 500ms ease-in-out;
}

.ac:hover img {
  transform: scale(1.1);
}
/* End of Added for my own self
###############################
##############################*/
