<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Two— A little boy and little girl. Now my daughter, my daughter’s a different ballgame. 
            My daughter’s spoiled, man. About to be five. Spoiled. 
            I’m not gonna lie. I spoil her. That’s what I’m supposed to do. 
            She’s at that age now though where she knows. She knows how to play me and her mom against each other. 
            She knows how to make us fight.
            Here’s how she got me in trouble the other day. 
            She came in the room, she hit me with the soft voice. She’s like, “dad, can I have a cookie?” 
            I said, “yeah, baby. Let’s go get a cookie.” I start walking towards the kitchen. 
            Out of nowhere all I hear is, “don’t give her no goddamn cookie!” 
            Scared the shit out of me. I stopped. I didn’t know what it was. 
            I thought it was Jesus at first.
        </p>
        <p>Two— A little boy and little girl. Now my daughter, my daughter’s a different ballgame. 
            My daughter’s spoiled, man. About to be five. Spoiled. 
            I’m not gonna lie. I spoil her. That’s what I’m supposed to do. 
            She’s at that age now though where she knows. She knows how to play me and her mom against each other. 
            She knows how to make us fight.
            Here’s how she got me in trouble the other day. 
            She came in the room, she hit me with the soft voice. She’s like, “dad, can I have a cookie?” 
            I said, “yeah, baby. Let’s go get a cookie.” I start walking towards the kitchen. 
            Out of nowhere all I hear is, “don’t give her no goddamn cookie!” 
            Scared the shit out of me. I stopped. I didn’t know what it was. 
            I thought it was Jesus at first.
        </p>
        <p>Two— A little boy and little girl. Now my daughter, my daughter’s a different ballgame. 
            My daughter’s spoiled, man. About to be five. Spoiled. 
            I’m not gonna lie. I spoil her. That’s what I’m supposed to do. 
            She’s at that age now though where she knows. She knows how to play me and her mom against each other. 
            She knows how to make us fight.
            Here’s how she got me in trouble the other day. 
            She came in the room, she hit me with the soft voice. She’s like, “dad, can I have a cookie?” 
            I said, “yeah, baby. Let’s go get a cookie.” I start walking towards the kitchen. 
            Out of nowhere all I hear is, “don’t give her no goddamn cookie!” 
            Scared the shit out of me. I stopped. I didn’t know what it was. 
            I thought it was Jesus at first.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>